@font-face {
    font-family: 'PF Arma Five';
    src: local('PF Arma Five'), local('PFArmaFive'),
        url('PFArmaFive.woff2') format('woff2'),
        url('PFArmaFive.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
	background: linear-gradient(0deg, rgba(43,21,77,1) 0%, rgba(43,21,77,1) 0%, rgba(0,0,0,1) 100%);
	font-family: 'PF Arma Five';
    font-weight: normal;
    font-style: normal;
}
h1{
	font-weight: normal;
	color: #eee;
}
a{
	color: #9146FF;
	text-decoration: none;
}

.title {
	text-align: center;
	width: 532px;
	font-family: 'PF Arma Five';
	font-size: 32px;
	padding: 20px;
	border-style: solid;
	color: #9146FF;
	background-color: #eee;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
